@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-600;
}

#__next {
  @apply w-full flex items-center flex-col min-h-screen;
}

* {
  @apply font-body text-black bg-white box-border m-0 p-0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  @apply font-header;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

button {
  -webkit-tap-highlight-color: transparent;
}

input[type="date"],
input[type="text"],
input[type="password"],
input[type="time"] {
  @apply shadow-md border-[1px] w-full rounded-md font-semibold
  px-2
  py-3
  outline-none
  text-base;
}

textarea {
  @apply shadow-md border-[1px] w-full rounded-md font-semibold
  placeholder:font-normal
  px-2
  py-3
  outline-none
  text-base;
}

input::placeholder {
  @apply font-normal;
}

.masonry > li:nth-child(3n) {
  background-color: aqua;
}
